@import 'tailwindcss';

@font-face {
	font-family: 'Bricolage Grotesque';
	src:
		url('../assets/fonts/BricolageGrotesque-Bold.woff2') format('woff2'),
		url('../assets/fonts/BricolageGrotesque-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src:
		url('../assets/fonts/DMSans-SemiBoldItalic.woff2') format('woff2'),
		url('../assets/fonts/DMSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('ttf');
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-*: initial;
	--color-neutral-900: hsl(243, 96%, 9%);
	--color-neutral-800: hsl(243, 27%, 20%);
	--color-neutral-700: hsl(243, 23%, 24%);
	--color-neutral-600: hsl(243, 23%, 30%);
	--color-neutral-300: hsl(240, 6%, 70%);
	--color-neutral-200: hsl(250, 6%, 84%);
	--color-neutral-0: hsl(0, 0%, 100%);
	--color-orange-500: hsl(28, 100%, 52%);
	--color-blue-700: hsl(248, 70%, 36%);
	--color-blue-500: hsl(233, 67%, 56%);
	--font-header:
		'Bricolage Grotesque', ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, 'Liberation Mono', 'Courier New', monospace;
	--font-body:
		'DM Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

/* @layer utilities {
	.no-spinner::-webkit-outer-spin-button,
	.no-spinner::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.no-spinner {
		appearance: textfield;
	}
} */

:root {
	font-family: var(--font-body);
	font-size: 1rem;
	font-weight: 400;

	/* background-color: var(--color-background-light);
	color: var(--color-foreground-light); */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* *:focus-visible {
	outline: 4px double hsl(160, 67%, 52%);
	outline-offset: -4px;
	outline-style: double;
} */

body {
	position: relative;
	min-height: 100dvh;
	margin: 0 auto;
}
